{% extends 'layout.html.twig' %}

{% block content %}
    <h1>PullRequest: "{{ pull_request.name}} ({{ pull_request.id}})"</h1>
    <p>Imageine this is GitHub pull request page. </p>
    <div class="row">
        <div class="col-md-4">
            <h2>Properties</h2>
            <b>Id: </b> {{ pull_request.id }}<br>
            <b>Name: </b> {{ pull_request.name }}
        </div>
        <div class="col-md-4">
            <h2>Actions</h2>
            {% if pull_request.preSubmit %}
                <a href="{{ path('pull_request_submit', {id: pull_request.id}) }}" class="btn btn-primary">Submit</a>
                <br>
            {% endif %}

            {% if pull_request.open %}
                <a href="{{ path('pull_request_close', {id: pull_request.id}) }}" class="btn btn-primary">Close</a>
                <br>
            {% endif %}

            {% if pull_request.closed %}
                <a href="{{ path('pull_request_reopen', {id: pull_request.id}) }}" class="btn btn-primary">Reopen</a>
                <br>
            {% endif %}

            {% if not pull_request.locked and (pull_request.open or pull_request.closed or pull_request.merged)%}
                <a href="{{ path('pull_request_lock', {id: pull_request.id}) }}" class="btn btn-primary">Lock</a>
                <br>
            {% endif %}

            {% if pull_request.open and not pull_request.merged and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('pull_request_merge', {id: pull_request.id}) }}" class="btn btn-primary">Merge</a>
                <br>
            {% endif %}

            {% if not pull_request.locked and is_granted('ROLE_USER') %}
                <br>
                <textarea>
                    Fake form for adding a comment. (nothing will happen)
                </textarea>
                <br>
                <a href="javascript:void(0)" class="btn btn-primary">Comment</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

